# Maven
target/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.class

# IDE files
.idea/
.project
.classpath
.settings/
*.iml
*.iws
*.ipr
.vscode/

# Logs
*.log
log/
logs/

# Integration test properties
*-integration-test.properties
aws-integration-test.properties

# Test results
test-output/